<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="jumbotron">
    <h4>Thank you for your order!</h4>
    <p><strong>Email:</strong> <%= @order.email %></p>
    <p><strong>Total Amount:</strong> <%= humanized_money_with_symbol(@order.total) %></p>
  </div>

  <h3>Order Details</h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= render 'line_item', line_item: line_item %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>